#wrapper {
    width: 95%;
    margin: 70px auto;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 54px;
    text-indent: 36px;
    margin-top: 8px;
}
#content img{

    box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 10px;
}
.indeximg{
    width: 100%;
}
#imgHide{
    visibility: collapse;
}

.navbar{
    min-height: 60px;
}

.form-control{
    height:50px;
}

.glyphicon{
    font-size: 31px;
}

.col-xs-12{
    margin-top:10px ;
}

@media (min-width:1200px) {
    .col-lg-4{
        width: 32.2%;
        margin: 10px;
        min-height: 400px;
        text-align: justify;
    }
}